.markupskeleton {
  font-size: 10px;
}

.terms {
  list-style-type: none;
}

body {
  margin-right: 20%;
}

.jumbotron {
  margin-top: 2%;
}

.container {
  margin-top: 4%;
}

.footer {
  position: fixed;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #cdebf9;
  text-align: center;
  color: #337AB9;
}

.content {
  border-left: #000 dotted 1px;
}

#textcolor {
  color: blue;
  font-family: cursive;
}

#floatleft {
  float: left;
  max-width: 50%;
}

#floatright {
  float: right;
  max-width: 50%
}
