.terms {
  list-style-type: none;
}

.container {
  margin-left: 2%;
  margin-top: 5%;
}

.footer {
  position: fixed;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #cdebf9;
  left: 0%;
  text-align: center;
  color: #337AB9;
}
